.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin: 10px;
}
#green {
    background-color: green;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}